//
// Sass partial with the layout code for the Dennis Two Col panels layout.
//
.dennis-two-col{
  .fixed-column {
    width: $fixed-col-width;
    float: left;
    @include clearfix();
  }
  .fluid-column {
    margin-left: $fixed-col-width + $padding;
    @include clearfix();
  }
}
