@import url(global/normalize.css);
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/
body {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a:link {
  color: #2090b4;
}
a:visited {
  color: #2090b4;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.42857em 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

::-moz-selection {
  background: #66b360;
  color: white;
  text-shadow: none;
}

::selection {
  background: #66b360;
  color: white;
  text-shadow: none;
}

/**
* Form elements: Inputs, buttons, etc.
*/
input,
button,
select,
textarea {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
}

.dennis-two-col {
  position: relative;
  width: 100%;
  height: 100%;
}
.dennis-two-col .fixed-column {
  width: 200px;
  position: fixed;
  top: 35px;
}
.dennis-two-col .fixed-column:after {
  content: "";
  display: table;
  clear: both;
}
.dennis-two-col .fluid-column {
  position: fixed;
  left: 225px;
  top: 35px;
  bottom: 35px;
  right: 20px;
}
.dennis-two-col .fluid-column:after {
  content: "";
  display: table;
  clear: both;
}

.dennis-two-col .fixed-column {
  text-align: right;
}
.dennis-two-col .fixed-column h2 {
  margin-top: 0;
}
.dennis-two-col .fluid-column {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dennis-two-col .photos-listing {
  display: none;
}
.dennis-two-col .photos-forward, .dennis-two-col .photos-backward {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 0;
}
.dennis-two-col .photos-forward {
  right: 0;
}
.dennis-two-col .photos-forward:hover {
  cursor: url(../images/right.cur), default;
}
.dennis-two-col .photos-backward {
  left: 0;
}
.dennis-two-col .photos-backward:hover {
  cursor: url(../images/left.cur), default;
}
.dennis-two-col ul.menu {
  margin: 0;
  padding: 0;
  text-align: right;
}
.dennis-two-col ul.menu li {
  list-style: none;
}
.dennis-two-col ul.menu a, .dennis-two-col ul.menu a:visited {
  text-decoration: none;
  color: #333;
}
.dennis-two-col ul.menu a:hover, .dennis-two-col ul.menu a:active, .dennis-two-col ul.menu a.active-trail, .dennis-two-col ul.menu a:visited:hover, .dennis-two-col ul.menu a:visited:active, .dennis-two-col ul.menu a:visited.active-trail {
  color: #000;
  font-weight: bold;
}
